.h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;   
    color: #3498db;
    font-size: 2.5em;
    margin: 0;
    padding: 15px; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  } 
  body {
    font-family: 'Arial', sans-serif;
    background: url('https://images.unsplash.com/photo-1625225233840-695456021cde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FsY3VsYXRvcnxlbnwwfHwwfHw%3D&w=1000&q=80') center/cover no-repeat fixed; /* Replace 'your-image-url.jpg' with the actual path to your image */
    margin: 0 auto;
    padding: 0;
    color: #fff; /* Text color on top of the background image */
  }
  
  .bg-red { 
    margin-top: 100px; /* Adjust margin-top to prevent content overlap with the fixed heading */
    padding: 100px; 
    height: 100vh;
    width: 60vw;
    border-radius: 50px; 
  }
  
  .input {
    height: 58px;
    width: 200px;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .row {
    margin: 7px 0px;
  }
  
  .button {
    border-radius: 22px;
    border: 2px solid black;
    padding: 18px;
    margin: 0px 3px;
    cursor: pointer;
    height: 50px;
    width: 52px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .row .input {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .btn {
    font-size: 15px;
    text-align: center;
    background-color: red;
  }
  
  .button .btn .btn-del {
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }  